::highlight(japanese-highlight) {
	background-color: gold;
	color: black;
	text-decoration: underline;
}

.japanese-dictionary-popup {
	position: fixed;
	width: 300px;
	background-color: darkgreen;
}

.popup-term {
	padding: 10px;

	.popup-term-header {
		display: flex;

		.popup-term-expression {
			font-size: 2em;
			margin-right: 5px;
		}
		.popup-term-frequency-tags {
			margin-top: auto;
			> span:not(:first-child) {
				margin-left: 5px;
			}
		}
	}
}
