::highlight(japanese-highlight) {
	background-color: var(--text-highlight-bg);
	text-decoration: underline;
}

.japanese-dictionary-popup {
	position: fixed;
	width: calc(var(--popover-width) * 3 / 4);
	max-height: var(--popover-height);
	background-color: var(--background-primary-alt);
	border: 1px solid var(--background-modifier-border-hover);
	border-radius: var(--radius-s);
	overflow-y: scroll;
	z-index: var(--layer-popover);
	user-select: text;
}

.popup-term {
	padding: var(--size-4-2);

	.popup-term-header {
		display: flex;

		.popup-term-expression {
			font-size: var(--h1-size);
			line-height: var(--h1-line-height);
			margin-right: var(--size-4-1);
		}
		.popup-term-frequency-tags {
			margin-top: auto;
		}
	}

	.popup-term-definitions {
		> li {
			margin-bottom: var(--size-4-2);
			ul {
				padding-left: var(--size-4-4);
			}
		}

		.popup-term-list {
			margin: var(--size-4-1) 0;
		}

		.popup-term-forms-list {
			table {
				border-collapse: collapse;
				width: 100%;
				font-size: var(--font-small);
			}

			th,
			td {
				border: var(--border-width) solid
					var(--background-modifier-border);
				padding: var(--size-4-1) var(--size-4-2);
				text-align: left;
			}
		}
	}

	.popup-tag {
		background-color: var(--background-modifier-hover);
		padding: 0 var(--size-4-1);
		border-radius: var(--radius-s);
		font-weight: var(--font-semibold);

		&:not(:first-child) {
			margin-left: var(--size-4-1);
		}
	}
}
