::highlight(japanese-highlight) {
	background-color: gold;
	color: black;
	text-decoration: underline;
}

.japanese-dictionary-popup {
	position: fixed;
	width: 300px;
	background-color: darkgreen;
}
